# -*- coding: utf-8 -*-

torchvision
torchtext
torchmetrics
pip
hydra-core
h5py
sentencepiece
py7zr
jupyter
flake8
pytest
bokeh
sentence-transformers
numpy
scikit-image
gensim
click
pytz
pyemd
pydantic>=1.8.2
matplotlib
scikit-learn-intelex
audiomentations
bert-score
black
torch-optimizer
torchopenl3
hydra-optuna-sweeper
hydra-colorlog
timm
audiomentations
language_tool_python
hydra_colorlog
aac-datasets~=0.4.0
aac-metrics~=0.5.3
deepspeed==0.9.5
intel_extension_for_pytorch
